* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$light-bg-color: hsl(0, 0%, 20%);
$dark-bg-color: hsl(0, 0%, 10%);
$text-color: hsl(0, 0%, 90%);
$principal-color: hsl(145, 40%, 53%);
$secondary-color: hsl(250, 90%, 70%);
$error-message-text-color:  hsl(69, 100%, 60%);
$error-message-bg-color:  hsl(0, 70%, 60%);
$error-message-border-color:  hsl(0, 70%, 50%);
$drop-area-bg-color: hsl(250, 90%, 85%);;
$drop-area-text-color: hsl(0, 0%, 36%);
$preview-border-color: hsl(180, 1%, 62%); 


body {
  background-color: $light-bg-color;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

.products-header {
  font-weight: 400;
  width: 100%;
  height: 70px;
  background-color: $dark-bg-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0 20px;       
    color: $text-color;
  }
  nav {
    margin: 0 20px;
    a {
      margin: 0 10px;
      text-decoration: none;
      color: $text-color;
      &:hover {
        color: $principal-color;
        text-decoration: underline;
      }
    }
  }
}

.main-content {
  display: flex;
  flex-direction: row;
}

.product-form {
  width: 100%;
  padding: 50px;
  // margin: 0 30px;
  display: flex;
  flex-direction: column; 
  font-size: 0.9rem;
  color: $text-color;  
  
  input {
    width: 80%;      
    border: none;
    padding: 5px;
    border-radius: 5px;
    border: solid 3px $secondary-color;

    &[type=number]{
      width: 150px;
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
  }
  textarea {    
    width: 90%;
    min-width: 300px;       
    min-height: 100px; 
    max-height: 180px;
    resize: vertical; 
    padding: 5px;
    border-radius: 5px;    
    border: solid 3px $secondary-color;
  }
  label {
    display: inline-block;
    padding: 5px;
    padding-bottom: 5px;
    margin: 20px 0 0px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: max-content;
    background-color: $secondary-color;
    position: relative;

    &::before {
      position: absolute;
      content: '';      
      left: -15px;
      top: -1px;      
      width: 15px;
      height: 15px;
      margin: 1em auto;
      background-image: radial-gradient(circle at 0 0, transparent 0%, transparent 15px, $secondary-color 15px);

      
    }
    &::after {
      position: absolute;
      content: '';      
      left: 100%;
      top: -1px;      
      width: 15px;
      height: 15px;
      margin: 1em auto;
      background-image: radial-gradient(circle at 100% 0, transparent 0%, transparent 15px, $secondary-color 15px);
    }
  }
  button {
    width: 120px;
    height: 40px;    
    align-self: center;
    margin: 0;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    color: $text-color;
    background-color: $principal-color;
  }

  .error-message {
    background-color: $error-message-bg-color;
    color: $error-message-text-color;    
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    width: max-content; 
  }
}

@media (max-width: 420px){
  .main-content {
    flex-direction: column;
    
  }
  // .product-form {
  //   width: 100%;
  //   color: red;
  //   input {
  //     width: 90%;
  //   }
  // }
}

.drop-zone-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  width: 100%;
  padding: 50px;  
  font-size: 1.2rem;  
  text-align: center;
  line-height: 2rem;

  .drop-zone {
    width: 100%;
    height: 50%;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: $drop-area-bg-color;
    color: $drop-area-text-color;
    border-radius: 5px; 
  }
  
  span {    
    width: 100%;
    height: 50%;
    margin: 20px;  
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: transparent;
    border-radius: 5px;    
    border: solid 1px $preview-border-color;
    padding: 10px;
    color: $drop-area-text-color;
    
    .preview-area {
      overflow: hidden;      
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; 
      
      
      img {
        width: 100%;
        max-width: 300px;
        height: auto;
        display: flex;
      }
    }

  }
}
